# /etc/portage/repos.conf/sage-on-gentoo.conf
[sage-on-gentoo]
priority = 50
location = /var/overlay/sage-on-gentoo
sync-type = git
sync-uri = https://github.com/cschwan/sage-on-gentoo.git
auto-sync = Yes
